/*google font*/
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
/*font-family: 'Lato', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
  /*font-family: 'Open Sans', sans-serif;*/

/* Base CSS */
.alignleft {
    float: left;  
    margin-right: 15px;
}
.alignright {   
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
.color-blue{color: #52bbd5;}
a:focus { outline: 0 solid }
a, a:hover, a:active, a:focus{
    text-decoration: none;
    outline: none;
}
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
  font-family: 'Open Sans', sans-serif;
}
a:hover { text-decoration: none}
label{font-weight: normal;}
.bg-gray{background-color: #e8e8e8;}
.bg-white{background-color: #ffffff;}

.jumbotron p {
    font-size: 18px;
    padding: 0;
    margin: 0;
}
section{
    padding: 60px 0px;
}
section#header {
    padding-top: 30px;
    padding-bottom: 50px;
}
.mr-b20{
  margin-bottom: 20px;
}


/*Checkcob css*/
/* Create a custom radio button */


.color-white{
  color: #ffffff;
}
.context-head {
    color: #324B73;
}

.content-info p {
    font-size: 18px;
    padding: 0px;
    margin: 0 0px 11px;
}

.content-info ul {
    padding: 0px;
    margin: 0;
    margin-left: 25px;
    font-size: 16px;
}

/*
.box-context {
    margin-bottom: 70px;
    height: 550px;
}
*/
.content-info h3{
    font-weight: 600;
    font-size: 20px;
}
.context-img img {
    height: 220px;
    width: 100%;
}

.content-info ul li {
    margin-bottom: 10px;
}

section#footer {
    padding: 50px 0px;
}
/*--------------------*/
/* MENU */
/*--------------------*/

#mu-hero .navbar-default {
    background-color: #656057;
    border-color: #171717;
    padding: 5px 0;
}

.mu-navbar {
    /*top: -150px;*/
    top: 0px;
    transition: all 0.5s;
}

.mu-nav-show {
    top: 0px;
}

#mu-hero .navbar-default .navbar-brand {
    padding: 15px 15px;
    font-size: 28px;
    line-height: 20px;
    color: #fff;
}

.mu-navbar .mu-menu li a {
    color: #FFFFFF;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
}
/*--------------------*/
/* HEADER */
/*--------------------*/

#mu-hero {
    /*background-image: url("../img/singapore-166544.jpg");*/
    background-color: #f1eada;
    display: inline;
    float: left;
    width: 100%;
    background-position: top center;
    background-attachment: fixed;
    background-size: 100%;
    padding: 150px 0px 100px;
    background-repeat: no-repeat;
}

.mu-hero-overlay {
    display: inline;
    float: left;
    opacity: 0.94;
    width: 100%;
}

.mu-menu-btn {
    position: fixed;
    right: 15%;
    top: 50px;
    color: #fff;
    font-size: 25px;
    border: 2px solid #fff;
    padding: 5px 14px;
    z-index: 999;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.mu-menu-btn:hover,
.mu-menu-btn:focus {
    border: 2px solid #fff;
}
.mu-hero-featured-content{
    text-align: center;
    /*border: 12px solid #18a7e2;*/
    /*padding: 55px;*/
    /*background: #ff5f1c;*/
}
.mu-hero-featured-content h1{
    color: #ff5f1c;
    font-size: 40px;
    text-transform: uppercase;
    margin: 30px 0px 0px;   
}
#footer{
    background: #171717; 
    border-top: 5px solid #52bbd5;
}
#footer .jumbotron{
    background: transparent; 
    padding: 0px;
}
.foot-text h4{
    color: #fff; 
    text-transform: uppercase; 
    margin-bottom: 18px;
}
.foot-text h5{
    color: #fff; 
    font-size: 18px;
}
.foot-text p{
    color: #fff; 
    font-size: 16px;
}
#bottom-strip{
    background-color: #171717;
    padding: 15px 0px; 
    border-top: 1px solid #545252;
}
#bottom-strip p{
    text-align: center; 
    color: #fff;  
    font-size: 15px;
    margin: 0px;
}
#bottom-strip p a{
    color: #18a7e2;
}
.foot-text ul{
    margin: 0px; 
    padding: 0px;
}
.foot-text ul li{
    list-style-type: none; 
 }
.foot-text ul li a{
    color: #ffffff;
    display: block; 
    font-size: 17px; 
    font-family: 'Open Sans', sans-serif;
    margin-right: 20px; 
    transition: all 0.2s linear 0s; 
    -webkit-transition: all 0.2s linear 0s; 
    -moz-transition: all 0.2s linear 0s; 
    -ms-transition: all 0.2s linear 0s; 
    -o-transition: all 0.2s linear 0s;
}
.foot-text ul li a:hover{
  color: #52bbd5;
}
.foot-logo{
  width: 250px;
}
.foot-text ul li:last-child a{
    margin: 0px;
}
/*.pd-l80{
    padding-left: 80px;
}*/
.tour-package{
    padding: 60px 0px;
}
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff2;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover, 
.hvr-radial-out:focus, 
.hvr-radial-out:active {
  color: #171717;
}
.hvr-radial-out:hover:before, 
.hvr-radial-out:focus:before, 
.hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

.section-title{
    font-size: 28px;
    margin-bottom: 40px;
    color: #000000;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
 }
.package-box{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
    border: 1px solid #E8E8E8;
    margin-bottom: 30px;
}
.content-info{padding: 20px;}
.content-info ul li{
    list-style-type: square;
    color: #000;
}
.content-info ul li span{color: #000;}
.package-box{
    position: relative;
    height: 100%;
    min-height: 720px;
}
.package-box .btn-info{
    color: #fff;
    background-color: #171717;
    border-color: #171717;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-weight: 600;
    left: 0;
    border-radius: 0px;
    padding: 15px;
    text-transform: uppercase;
}
.package-box .btn-info:hover{
    background-color: #18a7e2;
    color: #171717;
     border-color: #18a7e2;
}
#book-now{padding: 60px 0px;}
.form-control{border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; height: 44px; border-color: #171717;}
.form-control:focus, .form-control:hover, .form-control:active{box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none; border-color: #18a7e2;}
.btn-success{border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; display: block; margin: 10px auto 0px; padding: 10px 45px; background-color: #18a7e2;
    border-color: #18a7e2;}
#thankyou{
    width: 60%;
    padding: 45px;
    background: #374048;
    color: #ffffff !important;
    margin-top: 30px;
    border-radius: 7px;
    margin: 60px auto;
    text-align: center;
}
#thankyou a{font-size: 18px; text-transform: uppercase;}
#thankyou h4{margin: 0px;}


.package-masonry .row {
 -moz-column-width: 21em;
 -webkit-column-width: 21em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; 
  
}

.package-masonry .item {
 display: inline-block;
 padding:  .25rem;
 width:  100%; 
}

.package-masonry .well {
 position:relative;
 display: block;
 padding: 0px;
 border: 0px;
 border-radius: 0px;
 background: #efefef;
}
.orenge-btn{
    background: #bc0829;
    border: 0px;
    display: block;
    margin: 0 auto;
    margin-top: 0px;
    max-width: 130px;
    padding: 10px 15px;
    margin-top: 23px;
}
.orenge-btn:hover{
    background: #656057;
}
.orenge-logo-strip{
    background-color: #f2f2f2;
    padding: 13px 0px;

}
.logo-img img{
    width: 224px;
    height: auto;
}
.txt-logo h1{
  color: #bc0829;
}

.txt-bcsup{
  color: #fff;
  background-color: #52bad5;
  border:1px solid #52bad5;
  border-radius:0px;
  font-size:20px;
  padding: 10px 25px;
  text-align: center;
  margin-top:30px;
  display: inline-block;
  transition: all 0.5s linear 0s;
  -webkit-transition: all 0.5s linear 0s;
  -ms-transition: all 0.5s linear 0s;
  -moz-transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
}
.txt-bcsup:hover { 
  color:#52bad5;
  background-color: transparent;
  border:1px solid #52bad5;
  transition: all 0.5s linear 0s;
  -webkit-transition: all 0.5s linear 0s;
  -ms-transition: all 0.5s linear 0s;
  -moz-transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
}
.txt-bcsup a {

    color: #ffffff;
}
.navigation-strip{
    /*background-color: #bc0829;*/
    background-color: #f2f2f2;
}
.pd10{
  padding: 10px;
}
.navigation-strip .navbar{
    margin: 0px;
}
.navigation-strip .navbar-default{
    background: transparent;
    border: 0px;
}
.pd0{
    padding: 0px;
}
.navigation-strip .navbar-default .navbar-nav > li > a{
    color: #000000;
    ont-family: 'Open Sans', sans-serif;
    font-size: 16px;
    /*font-weight: 600;*/
}

/* Underline Reveal */
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #52bad5;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.packges-block{
    border: 1px solid #cfcfcf;
    background-color: #FFF;
    margin-bottom: 30px;
        height: 308px;
}
.packeg-details-text{
    padding: 9px 5px 11px 0px;
}
.packeg-details-text h5, .packeg-details-text p{
    margin-bottom: 5px;
}
.packeg-details-text h5 a{
    ont-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #bc0829;
    height: 36px;
    display: block;
    overflow: hidden;
}
.packeg-details-text p{
    ont-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.gray-small-text span{
    font-size: 12px;
    ont-family: 'Open Sans', sans-serif;
    color: #c3c3c3;
    font-weight: 600;
}
.star-rating-wrap span{
    color: #bc0829;
    cursor: pointer;
}
/*#pakeges-wrap{
    background-color: #f1eada;
}*/
.right-blck{
    width: 65%;
    float: left;
}
.price-right-block{
    text-align: center;
    ont-family: 'Open Sans', sans-serif;
}
.price-right-block span{
    font-size: 14px;
    font-weight: 600;
}
.price-right-block h4{
    font-size: 27px;
    color: #bc0829;
    margin-bottom: 4px;
    font-weight: 800;
}
.price-right-block a{
    color: #ffffff; 
    background: #bc0829;
    padding: 5px 14px 7px;
    display: inline-block;
    margin-top: 5px;
}
.social-links ul{
    margin: 5px 0px 0px;
    padding: 0px;
}
.social-links ul li{
    list-style-type: none;
    float: left;
}
.social-links ul li a{
    width: 25px;
    height: 25px;
    background: #000;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    line-height: 25px;
    margin-right: 7px;
    color: #FFF;
}
.social-links ul li a:hover{
    background: #bc0829;
}
.packege-para{
    height: 80px;
    overflow: hidden;
}
/*#book-now{
  background-color: #f1eada;
}*/
#book-now label{
  color: #280f0a;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  
}
.form-control:focus, .form-control:hover, .form-control:active{
  border-color: transparent;
}
.form-group {
    margin-bottom: 19px;
}

.p_element{
  display: none;
  margin-top: 30px;
}
.pakege-active{
  display: block;
}
 

#country-box .singme {
  /*background: red;*/
  height: auto;
  display: block;
  text-align: center;
}
#country-box .hero-grid {
  position: relative;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  width: 100%;
  height: auto;
  display: inline-block;
  margin-bottom: 30px;
}
#country-box .hero-grid-image {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.2;
}

#country-box .hero-grid-content {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: left;
}

#country-box .hero-grid-content::before,
#country-box .hero-grid-content::after {
  pointer-events: none;
}

#country-box .hero-grid-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

#country-box .hero-grid-title {
  letter-spacing: -1px;
  font-weight: 800;
  margin: 0;
  padding: 0.25em 0;
  font-size: 27px;
  line-height: 1;
  font-family: Open Sans Condensed;
}

#country-box .hero-grid-title span {
  font-weight: 800;
}

#country-box .hero-tag {
  display: inline-block;
  font-size: 0.5em;
  padding: 0.5em;
  font-weight: 700;
  background: #ef6511;
  color: #ffffff;
  font-family: Open Sans Condensed;
}

#country-box .hero-grid h2,
#country-box .hero-grid p {
  margin: 0;
  ont-family: 'Open Sans', sans-serif;
}

#country-box .hero-grid p {
  font-size: 45.5%;
  overflow: hidden;
  font-family: segoe ui;
  color: white;
}

#country-box .effect-image {
  max-width: none;
  width: -webkit-calc(100% + 50px);
  width: calc(100% + 50px);
  opacity: 1;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

#country-box .effect-target {
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
}

#country-box .effect-target {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

#country-box .effect-text {
  color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s;
}

#country-box .effect-move:hover .effect-image,
#country-box .effect-move:hover .effect-text {
  opacity: 1;
}

#country-box .effect-move:hover .effect-target,
#country-box .effect-move:hover .effect-image {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#country-box .effect-move:hover .effect-text {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.hero-grid img{
  width: 100%;
}
/*#country-box{
  background-color: #f1eada;
}*/
.breadcrumb{
  background: transparent;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
/*.form-group{
  position: relative;
}*/
.icon-position{
  position: absolute;
  top: 32px;
  font-size: 16px;
  right: 11px;
  color: #baacac;
}

/*BOX CSS*/
.card-title {
    font-size: 20px;
    margin: 0px 0px 10px;
    padding: 10px 17px 5px;
    color: #280f0a;
}
.card-features {
    margin-bottom: 10px;
    padding: 10px 17px;
}
.card-features ul {
    padding: 0px;
    margin: 0px;
}
.card-features ul li {
    list-style-type: none;
    float: left;
    padding-right: 11px;
}
.card-features ul li {
    color: #280f0a;
    font-size: 16px;
}
.card-pricing {
    background: #ef6511 ;
    margin-top: 25px;
}
.card-pricing .card-pricing-block:last-child {
    margin-right: 0px;
}
.card-pricing .card-pricing-block {
    float: left;
    color: #fff;
    border-right: 1px solid #fff;
}
.card-pricing-block {
    /* background: #fff; */
    /* padding: 10px; */
    width: 50%;
    /* margin-top: 20px; */
    /* margin-right: 18px; */
    padding: 5px;
    border-top: 1px solid;
    border-right: 1px solid;
    text-align: center;
}
.card-pricing-block .small {
    font-size: 17px;
}
.card-pricing-block .card-pricing-value {
    font-size: 19px;
}
.rent-box {
    margin-bottom: 30px;
    border: 1px solid #ef6511;
    padding: 0px;
    cursor: pointer;
    background: #fff;
}
.bor-none{
  border-right: 0px !important;
}
.product-img img{
    display: block;
    margin:0 auto;
}

/*FORM CSS*/
.wrap-bg {
    background-color: #374048;
    padding: 35px 15px 15px 20px;
    margin-bottom: 40px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.form-horizontal .form-group{
  margin: 11px 0px;
}
.form-heding {
    font-size: 16px;
    text-align: left;
    margin-top: 15px;
    color: #fff;
}
.form-horizontal .control-label {
    text-align: left;
    padding: 0px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
}
.form-horizontal .form-control {
    border-radius: 0;
    box-shadow: none;
    font: 300 17px/24px "Poppins", sans-serif;
    padding: 6px 18px;
    height: 40px;
    border-color: #e0e8ee;
    background: #f8fbfd;
}
.smile-img{
  width: 162px;
  margin: 0 auto;
}
.section-header h2 {
     
    text-transform: uppercase;
}
.pay-form-wrap{
  background-color: #374048;
  padding: 35px 27px 15px 40px;
  margin: 40px auto 0px;
  text-align: center;
  color: #ffffff;
  width: 63%;
  border-radius: 8px;
}
.product-box{
  background-color: #ffffff;
  border: 1px solid #bdbdbd;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.product-footer{
  padding: 9px 10px 12px;
  text-align: center;
}
.product-footer h3{
  margin-bottom: 4px;
}
.product-footer h3 a {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #443f3f;
    display: block;
    overflow: hidden;
    height: 33px;
    font-weight: 600;
}

.product-footer h5{
  font-size: 16px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    ont-family: 'Open Sans', sans-serif;
    margin: 14px 0px;
}
.product-footer h4 span{
  font-size: 13px;
  color: #887476;
  position: relative;
  line-height: 19px;
  position: relative;
  top: -2px;
  margin-right: 6px;
}
.product-footer h4{
  font-size: 18px;  
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  margin-bottom: 6px;
}
.product-footer p{
  font-size: 13px;
  color: #b9b9b9;
  ont-family: 'Open Sans', sans-serif;
}
.order-btn{
  width: 47%;
  float: left;
}
.order-btn .red-btn, .inquiry-btn .red-btn{
  padding: 4px;
}
.inquiry-btn{
  width: 47%;
  float: right;
}
.small-btn{
  width: 100%;
  max-width: 180px;
  display: block;
  margin: 0 auto;
}
.red-btn{
  background-color: #52bad5;
  border: 1px solid #52bad5;
  color: #ffffff;
  padding: 7px;
  text-align: center;
  width: 100%;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  /*text-transform: uppercase;*/
  transition: all 0.5s linear 0s;
  -webkit-transition: all 0.5s linear 0s;
  -ms-transition: all 0.5s linear 0s;
  -moz-transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
  font-size: 15px;
} 
.red-btn:hover{
  color: #52bad5  ;
  border: 1px solid #52bad5;
  /*background-color: #bc0829;*/
  background: transparent;
  transition: all 0.5s linear 0s;
  -webkit-transition: all 0.5s linear 0s;
  -ms-transition: all 0.5s linear 0s;
  -moz-transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
}
.bottom-btn{
  margin: 0px 0px 0px;
}
.pro-img{
  width: 100%;
  height: 260px;
  overflow: hidden; 
  text-align: center;
}
.cuntry-nav-strip .navbar-default .navbar-nav>li>a{
  padding-top: 8px;
  padding-bottom: 8px;
}
.cuntry-nav-strip .navbar-brand{
  font-size: 15px;
  background: #52bbd5;
  color: #ffffff;
}
.cuntry-nav-strip .navbar-brand:hover{
  background: #52bbd5;
  color: #ffffff;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
  margin-left: -60px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
  margin-right: -60px;
}
#flag-wrap{
  background-color: #f2f2f2;
}




















.cat-text{
  position: absolute;
  top: 14px;
  right: 0px;
  padding: 3px 10px;
  text-align: center;
  color: #000000;
  font-size: 12px;
  background: #f2f2f2;
  box-shadow: -1px 1px 2px #b5b4b4;
  transform: rotate(40deg) translate(21px, -10px);
  -webkit-transform: rotate(40deg) translate(21px, -10px);
  -moz-transform: rotate(40deg) translate(21px, -10px);
  -ms-transform: rotate(40deg) translate(21px, -10px);
  -o-transform: rotate(40deg) translate(21px, -10px);
  width: 122px;
  display: none;
}
.pd0{
  padding: 0px;
}

.text-right { text-align: right;}
.text-right { text-align: right;}
.cos-width.col-sm-offset-1{
  margin-left: 13.733333%;
}

.orenge-logo-strip a img{
  width: 200px;
  height: auto;
} 
.navigation-wrap .navbar{
  margin-bottom: 0px;
  margin-top: 5px;
}
.navigation-wrap .navbar-default{
  background: transparent;
  border: 0px;
}
.navigation-wrap .navbar-default .navbar-nav>li>a,
.cuntry-nav-strip .navbar-default .navbar-nav>li>a,
.cuntry-nav-strip .dropdown-menu>li>a,
.dropdown-menu>li>a
{
  color: #000000;
  font-weight: 600;
  font-size: 14px;
}
.cuntry-nav-strip{
  border-bottom: 2px solid #f2f2f2;
}
.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}
.cuntry-nav-strip .navbar-default{
  margin: 0px;
  background: transparent;
  border: 0px;
}
.cuntry-nav-strip .navbar{
  min-height: 100%;
}
.cuntry-nav-strip .navbar-brand{
  padding: 9px 15px;
  height: auto;
}
.cuntry-nav-strip .navbar-default .navbar-nav>li>a:hover{
  background-color: transparent;
}
.banner-form-wrap{
  /*background: url("../img/top-banner.jpg") no-repeat top center;*/
 /* padding: 100px 0px;*/
  padding: 50px 0px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
}
.banner-form-text h1{
  font-size: 62px;
  color: #52bcd5;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-weight: 600;
}
.banner-form-text h4{
  font-size: 39px;
 /* color: #ffffff;*/
  color: #000000;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  line-height: 49px;
  margin: 0px 0px 36px;
  font-weight: normal;
}
.form-fild{
  width: 61%;
  margin: 0 auto;
  font-size: 18px;
  color: #ffffff;
}
.form-fild p{
  font-size: 24px;
  color: #ffffff;
}
.form-fild .form-control{
  width: 250px;
  display: inline;
  background: transparent;
  border: transparent;
  font-size: 21px;
  border-bottom: 2px dashed #ffffff;
  color: #ffffff;
  height: auto;
  margin: 0px 16px;
  padding: 2px 0px;
  cursor: pointer;
}
.inline-text{
  display: inline;
}

.effect-7,
{
  border: 1px solid #ccc;
  padding: 7px 14px 9px;
  transition: 0.4s;
}

.effect-7 ~ .focus-border:before,
.effect-7 ~ .focus-border:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #52bcd5;
  transition: 0.4s;
}
.effect-7 ~ .focus-border:after {
  top: auto;
  bottom: 0;
}
.effect-7 ~ .focus-border i:before,
.effect-7 ~ .focus-border i:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #52bcd5;
  transition: 0.6s;
}
.effect-7 ~ .focus-border i:after {
  left: auto;
  right: 0;
}
.effect-7:focus ~ .focus-border:before,
.effect-7:focus ~ .focus-border:after {
  left: 0;
  width: 100%;
  transition: 0.4s;
}
.effect-7:focus ~ .focus-border i:before,
.effect-7:focus ~ .focus-border i:after {
  top: 0;
  height: 100%;
  transition: 0.6s;
}
.cos-select-box{
  position: relative;
  width: auto;
  display: inline-block;
}
.color-black{
  color: #000000;
}


/*SLIDER CSS*/
.carousel-showmanymoveone .carousel-control {
  width: 4%;
  background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
  margin-left: 15px;
}
.carousel-showmanymoveone .carousel-control.right {
  margin-right: 15px;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3 {
  display: none;
}
@media all and (min-width: 768px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -50%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 50%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
            transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 992px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -25%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 25%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
    display: block;
  }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(25%, 0, 0);
            transform: translate3d(25%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-25%, 0, 0);
            transform: translate3d(-25%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    left: 0;
  }
}
 
 
.circle-1 {
  border-radius: 50%;
  border:16px solid #ececec;
  /*float:left;*/
  width: 137px;
  height: 137px;
  margin: 0 auto;
}

.circle-1 .flag-img {
  width:105px;
  height:105px;
  border-radius: 50%;
  cursor:pointer;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  overflow: hidden;
  background: #f2f2f2;
  box-shadow: 1px 1px 5px #d6d6d6;
  -wbkit-box-shadow: 1px 1px 5px #d6d6d6;
  -moz-box-shadow: 1px 1px 5px #d6d6d6;
  -ms-box-shadow: 1px 1px 5px #d6d6d6;
  -o-box-shadow: 1px 1px 5px #d6d6d6;
}
.flag-img img{
  box-shadow: 1px 1px 5px #868686;
  -webkit-box-shadow: 1px 1px 5px #868686;
  -moz-box-shadow: 1px 1px 5px #868686;
  -ms-box-shadow: 1px 1px 5px #868686;
  -o-box-shadow: 1px 1px 5px #868686;
}
.flag-img h5 a{
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 8px;
  display: block;
  color: #000000;
  margin-top: 15px;
}
.circle-1:hover .flag-img {
 transform: scale(1.1);
-ms-transform: scale(1.1); 
-webkit-transform: scale(1.1);
  box-shadow: 2px 2px 2px #4b4b4b;
  
}
#flag-wrap .col-sm-offset-1{
  margin-left: 13.433333%;
}
@media all and (min-width: 1200px) {
  .flag-col-width .col-sm-3{
    width: 14.2%;
  }
}
.box-flag-img{
  width: 35px;
  height: auto;
  position: absolute;
  top:10px;
  right: 10px;
}
/*.panle-head{
  background: #52bbd5;
}*/
.panle-head h4{
  text-align: center;
  background: #52bbd5;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px 10px;
  margin: 0px;
  font-size: 17px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}
.panle-footer{
  padding: 15px 15px 15px;
  border: 1px solid #52bcd5;
  margin-bottom: 30px;
}
.main-cat ul{
  margin: 0px;
  padding: 0px;
}
.main-cat ul li{
  list-style-type: none; 
}


/*FOR REDIO BOX*/
.control {
  color: #000000;
  font-weight: 600;
  font-size: 13px;
  position: relative;
  display: block;
  margin-bottom: 15px;
  padding-left: 30px;
  cursor: pointer;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.select-country {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  background: #e6e6e6;
}
.control--radio .select-country {
  border-radius: 50%;
}
/* Checked state */
.control input:checked ~ .select-country {
  background: #2aa1c0;
}
/* Check mark */
.select-country:after {
  position: absolute;
  display: none;
  content: '';
}
/* Show check mark */
.control input:checked ~ .select-country:after {
  display: block;
}
/* Radio button inner circle */
.control--radio .select-country:after {
  top: 5px;
  left: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}
/* Disabled circle colour */
.control--radio input:disabled ~ .select-country:after {
  background: #7b7b7b;
}

/*ACCORDIN TOGGL*/
.according-wrap .panel-title > a:before {
  float: right !important;
  font-family: FontAwesome;
  content: "-";
  font-size: 16px;
  font-weight: 900;
  /*content: "\f068";*/
  padding-right: 5px;
}
.according-wrap .panel-title > a.collapsed:before {
  float: right !important;
  content: "+";
  font-size: 16px;
  font-weight: 900;
  /*content: "\f067";*/
}
.according-wrap .panel-title > a:hover,
.according-wrap .panel-title > a:active,
.according-wrap .panel-title > a:focus {
  text-decoration: none;
}
.according-wrap .panel-default>.panel-heading{
  background: transparent;
}
.according-wrap .panel-title{
  color: #000000;
  font-weight: 600;
  font-size: 13px;
}
.according-wrap .panel-default{
  border: 0px;
  border-bottom: 1px solid #e6e6e6;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
.sub-cat-list ul{
  margin: 0px;
  padding: 0;
}
.sub-cat-list ul li{
  list-style-type: none;
}
.sub-cat-list ul li a{
  color: #000000;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height:  23px;
}
.sub-cat-list ul li a:hover{
  color: #52bbd5;
}
.according-wrap .panel-title a:hover{
  color: #52bbd5;
}
.panel-body{
  padding: 8px 15px;
}

.pro-title{
  font-size: 25px;
  color: #000000;
}
.pro-price{
  font-size: 21px;
  color: #555555;
  font-weight: normal;
}
.description-para{
  font-size: 14px;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
}
.category-title span{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #52bbd5;
  font-weight: 600;
  display: inline-block;
  margin-right: 20px;
}
#pro-details-wrap{
  padding: 100px 0px;
}
.login-form-wrap{
  margin: 0 auto;
  background: #e8e8e8;
  padding: 50px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  width: 50%;
}
.form-control:hover, .form-control:focus, .form-control:active{
  border-color: #52bcd5;
}

















.mr-t50{margin-top: 50px;}
.mr-t30{margin-top: 30px;}
.pl50{padding-left: 50px;}

.pd0{padding: 0px;}
.mb30{margin-bottom: 30px;}
.mr20{margin-right: 20px;}


 #custom-search-input {
  background: #e8e6e7 none repeat scroll 0 0;
  margin: 0;
  padding: 10px;
}
   #custom-search-input .search-query {
   background: #fff none repeat scroll 0 0 !important;
   border-radius: 4px;
   height: 33px;
   margin-bottom: 0;
   padding-left: 7px;
   padding-right: 7px;
   }
   #custom-search-input button {
   background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
   border: 0 none;
   border-radius: 3px;
   color: #666666;
   left: auto;
   margin-bottom: 0;
   margin-top: 7px;
   padding: 2px 5px;
   position: absolute;
   right: 0;
   z-index: 9999;
   }
   .search-query:focus + button {
   z-index: 3;   
   }
   .all_conversation button {
   background: #52bbd5 none repeat scroll 0 0;
   border: 1px solid #52bbd5;
   height: 38px;
   text-align: left;
   width: 100%;
   font-size: 17px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  }
   .all_conversation i {
   background: #e9e7e8 none repeat scroll 0 0;
   border-radius: 100px;
   color: #636363;
   font-size: 17px;
   height: 30px;
   line-height: 30px;
   text-align: center;
   width: 30px;
   }
   .all_conversation .caret {
   bottom: 0;
   margin: auto;
   position: absolute;
   right: 15px;
   top: 0;
   }
   .all_conversation .dropdown-menu {
   background: #f5f3f3 none repeat scroll 0 0;
   border-radius: 0;
   margin-top: 0;
   padding: 0;
   width: 100%;
   }
   .all_conversation ul li {
   border-bottom: 1px solid #dddddd;
   line-height: normal;
   width: 100%;
   }
   .all_conversation ul li a:hover {
   background: #dddddd none repeat scroll 0 0;
   color:#333;
   }
   .all_conversation ul li a {
  color: #333;
  line-height: 30px;
  padding: 3px 20px;
}
   .member_list .chat-body {
   margin-left: 47px;
   margin-top: 0;
   }
   .top_nav {
   overflow: visible;
   }
   .member_list .contact_sec {
   margin-top: 3px;
   }
   .member_list li {
   padding: 6px;
   }
   .member_list ul {
   border: 1px solid #52bbd5;
   }
   .chat-img img {
   height: 34px;
   width: 34px;
   }
   .member_list li {
   border-bottom: 1px solid #dddddd;
   padding: 6px;
   }
   .member_list li:last-child {
   border-bottom:none;
   }
   .member_list {
   height: 380px;
   overflow-x: hidden;
   overflow-y: auto;
   }
   .sub_menu_ {
  background: #e8e6e7 none repeat scroll 0 0;
  left: 100%;
  max-width: 233px;
  position: absolute;
  width: 100%;
}
.member_list .contact_sec{
  color: #8e8e8e;
  font-size: 14px;
}
.header_sec strong{
  color: #000000;
  font-weight: 600;
}
.sub_menu_ {
  background: #f5f3f3 none repeat scroll 0 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: none;
  left: 100%;
  margin-left: 0;
  max-width: 233px;
  position: absolute;
  top: 0;
  width: 100%;
}
.all_conversation ul li:hover .sub_menu_ {
  display: block;
}
.new_message_head button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
}
.new_message_head {
  background: #52bcd5 none repeat scroll 0 0;
  float: left;
  font-size: 13px;
  font-weight: 600;
  padding: 18px 10px;
  width: 100%;
}
.message_section {
  border: 1px solid #bbbbbb;
  border-bottom: 0px;
}
.messege-box{
  border: 1px solid #bbbbbb;
}
.chat_area {
  float: left;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
.chat_area li {
  padding: 14px 14px 0;
}
.chat_area li .chat-img1 img {
  height: 40px;
  width: 40px;
}
.chat_area .chat-body1 {
  margin-left: 50px;
  margin-bottom: 3px;
}
.chat_area .chat-body1 h6{
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: 600;
  font-size: 14px;
}
.chat-body1 p {
  background: #fbf9fa none repeat scroll 0 0;
  padding: 0px 0px 10px;
}
.chat_area .admin_chat .chat-body1 {
  margin-left: 0;
  margin-right: 50px;
}
.chat_area li:last-child {
  padding-bottom: 10px;
}
.message_write {
  /*background: #52bdd5 none repeat scroll 0 0;*/
  background: transparent none repeat scroll 0 0;
  float: left;
 /* padding: 15px;*/
  width: 100%;
}

.message_write textarea.form-control {
  padding: 10px;
}
.chat_bottom {
  float: left;
  margin-top: 13px;
  width: 100%;
}
.upload_btn {
  color: #777777;
}
.sub_menu_ > li a, .sub_menu_ > li {
  float: left;
  width:100%;
}
.member_list li:hover {
  background: transparent none repeat scroll 0 0;
  color: #fff;
  cursor:pointer;
}
.pro-saler-name span{
  display: inline-block;
  margin-right: 10px;
  color: #887476;
}
.color-blue{
  color: #52bad5;
}
h4.pro-price{
  color: #887476;
  line-height: 45px;
}
h4.pro-price span{
  color: #000000;
  font-weight: 600;
  font-size: 25px;
}
.pro-note ul{
  padding: 0px;
  margin: 0px;
}
.pro-note ul li{
  list-style-type: none;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #887476;
  text-align: justify;
  margin-bottom: 6px;
}
.pro-note{
  margin: 20px 0px;
}
.pro-note h4{
  margin: 10px 0px;
}
.productshare a{
  display: inline-block;
  margin-right: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #887476;
  text-align: center;
  line-height: 35px;
  border: 1px solid #887476;
  color: #ffffff;
  font-size: 20px;
}
.productshare a:hover{
  background-color: transparent;
  border: 1px solid #52bad5;
  color: #52bad5;
}
.register-form{
  background-color: #f5f5f5;
  padding: 40px 29px;
  border-top-right-radius: 9px;
  -webkit-border-top-right-radius: 9px;
  -moz-border-top-right-radius: 9px;
  -ms-border-top-right-radius: 9px;
  -o-border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  -webkit-border-bottom-right-radius: 9px;
  -moz-border-bottom-right-radius: 9px;
  -ms-border-bottom-right-radius: 9px;
  -o-border-bottom-right-radius: 9px;
}
.register-img img{
  border: 3px solid #f5f5f5;
  width: 100%;
  height: auto;
  border-top-left-radius: 9px;
  -webkit-border-top-left-radius: 9px;
  -moz-border-top-left-radius: 9px;
  -ms-border-top-left-radius: 9px;
  -o-border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  -webkit-border-bottom-left-radius: 9px;
  -moz-border-bottom-left-radius: 9px;
  -ms-border-bottom-left-radius: 9px;
  -o-border-bottom-left-radius: 9px;
}
#faq-wrap.according-wrap .panel-title{
  font-size: 15px;
  text-transform: uppercase;
}
#faq-wrap.according-wrap  .faq-ans{
  font-size: 15px;
  line-height: 26px;
  color: #292929;
}
.policy-text p{
  text-align: center;
  font-size: 15px;
  color: #000000;
  line-height: 25px;
  width: 80%;
  text-align: center;
  margin: 0 auto 20px;
  font-family: 'Open Sans', sans-serif;
}
.orenge-logo-strip a.profile-img{
  padding: 0px !important;
}
.orenge-logo-strip a.profile-img img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: inline-block;
  margin: 0px 5px;
}
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus, 
.navbar-default .navbar-nav > .open > a:active,
.navbar-default .navbar-nav > li.open > a{
  background-color: transparent;
}
.profile-icon{
  width: 70px;
  text-align: center;
}
.profile-icon a{
  color: #000000;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
  height: 100%;
}
.profile-wrap ul li a .fa{
  float: right;
}
.orenge-logo-strip .user-drop-icon a img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: inline-block;
}
.chat_time{
  padding: 10px;
  background: #f2f2f2;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
}
.chat_bottom .btn-success{
  margin-top: -11px;
}
.user-img{
  padding: 20px 15px 11px;
  text-align: center;
}
.user-img img{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.user-img h3{
  font-size: 18px;
  color: #52bbd5;
  margin: 10px;
  font-weight: 600;
}

.hor-tabs .nav-pills>li>a{
  border-bottom: 1px solid #e0e0e0;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  color: #000000;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}
.hor-tabs .nav-pills>li>a:hover,
.hor-tabs .nav-pills>li.active>a, 
.hor-tabs .nav-pills>li.active>a:focus,
.hor-tabs .nav-pills>li.active>a:active, 
.hor-tabs .nav-pills>li.active>a:hover{
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  background-color: #b9b9b9;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.hor-tabs .nav-stacked>li+li{
  margin: 0px;
}
.hor-tabs .tab-content {
  border: 1px solid #b9b9b9;
  padding: 0px;
}


.hor-tabs .tab-pane h4{
  margin: 0px;
  padding: 15px 30px;
  background-color: #b9b9b9;
  color: #ffffff; 
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}
.hor-tabs .tab-info{
  padding: 31.9px 30px;
  background-color: #ffffff;
}
.hor-tabs .align-info p{
  font-size: 15px;
  display: table;
  width: 100%;
  text-align: left;
  margin: 15px 0px;
}
.hor-tabs .align-info p span:first-child{
  width: 201px;
}
.hor-tabs .align-info p span{
  display: table-cell;
}
.nav-pills{
  background-color: #f2f2f2;
  padding: 0px;
}
.navbar-nav>li>.dropdown-menu{
  width: 210px;
}
.hor-tabs{
  background-color: #f2f2f2;
}
.tab-info h5{
  font-size: 18px;
  color: #52bbd5;
  font-weight: 600;
}
.pro-price select{
  border: 0px;
  background: #eaeaea;
  font-size: 19px;
  padding: 5px 10px;
}
#pleacr-order-wrap h6 label{
  color: #887476;
  font-size: 15px;
  line-height: 22px;
}
#pleacr-order-wrap h6 label span{ 
  color: #52bad5;
  font-weight: normal;
}
.cart-table{
  margin: 20px 0px 40px;
}
#pleacr-order-wrap .table>tbody>tr>td{
    vertical-align: middle;
    text-align: center;
}
#pleacr-order-wrap .table>tbody>tr>td p{
  margin: 0px;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

#pleacr-order-wrap .table>tbody>tr>td{
  text-align: center;
  padding: 8px;
}
#pleacr-order-wrap .table>tbody>tr>td img{
  display: block;
  margin: 0 auto;
}
#pleacr-order-wrap .table>tbody>tr>td select{
  width: 70px;
  padding: 3px 7px;
}
#pleacr-order-wrap .table>thead>tr>th{
   padding: 16px 8px;
   text-align: center;
}
#pleacr-order-wrap .table>thead>tr{
  background-color: #f2f2f2;
}
@media screen and (max-width: 600px) {
  #pleacr-order-wrap  table#cart tbody td .form-control{
    width:20%;
    display: inline !important;
  }
  #pleacr-order-wrap table#cart thead { display: none; }
  #pleacr-order-wrap table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
  #pleacr-order-wrap table#cart tbody tr td:first-child { background: #333; color: #fff; }
  #pleacr-order-wrap table#cart tbody td:before {
    content: attr(data-th); font-weight: bold;
    display: inline-block; width: 8rem;
  }
}
#order-wrap h6 label{
  color: #887476;
  font-size: 15px;
  line-height: 22px;
}
#order-wrap h6 label span{ 
  color: #52bad5;
  font-weight: normal;
}
#order-wrap .table>tbody>tr>td{
    vertical-align: middle;
    text-align: center;
}
#order-wrap .table>tbody>tr>td p{
  margin: 0px;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
#order-wrap .table>tbody>tr>td{
  text-align: center;
  padding: 8px;
}
#order-wrap .table>tbody>tr>td img{
  display: block;
  margin: 0 auto;
}
#order-wrap .table>tbody>tr>td select{
  width: 70px;
  padding: 3px 7px;
}
#order-wrap .table>thead>tr>th{
   padding: 16px 8px;
   text-align: center;
}
#order-wrap .table>thead>tr{
  background-color: #f2f2f2;
}
@media screen and (max-width: 600px) {
  #order-wrap  table#cart tbody td .form-control{
    width:20%;
    display: inline !important;
  }
  #order-wrap table#cart thead { display: none; }
  #order-wrap table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
  #order-wrap table#cart tbody tr td:first-child { background: #333; color: #fff; }
  #order-wrap table#cart tbody td:before {
    content: attr(data-th); font-weight: bold;
    display: inline-block; width: 8rem;
  }
}
.order-add-form{
  border: 1px solid #e7e7e7;
}
.top-strip{
  background-color: #f2f2f2;
  padding: 10px 0px;
}
.top-strip input{
  float: right;
}
.top-strip h5{
  font-size: 18px;
  line-height: 35px;
  margin: 0;
}
.order-form-foot{
  padding: 20px 10px 40px;
}
.close-btn{
  background: #ff6767;
  width: 100%;
  height: 43px;
  margin: 0px;
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  line-height: 38px;
  cursor: pointer;
}





.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: #e6e6e6;
}

 
.styled-checkbox:checked + label:before {
  background: #52bbd5;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.seller-box{
  padding: 20px 20px 20px;  
}
.seller-img{
  width: 88px;
  height: 88px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0px auto 15px;
  border: 3px solid #52bbd5;
}
.seller-footer h3{
  text-align: center;
  text-transform: uppercase;
}
.seller-footer h3 a{
  font-size: 17px;
  color: #000000;
  font-weight: normal;
} 
.about-box{
  background-color: #f2f2f2;
  padding: 25px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-top: 30px;
}
.col-sm-offset-1.about-box {
    margin-left: 7.133333%;
}
.about-box h5{
  font-size: 20px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  color: #52bbd5;
}
ul.comman-list li{
  list-style-type: square;
  font-size: 14px;
  margin-bottom: 10px;
  color: #52bbd5;
}
ul.comman-list li span{
  color: #000000;
}
#requests-wrap, #viewed-wrap{background-color: #f2f2f2;}
#requests-wrap #pleacr-order-wrap .table>tbody>tr{background-color: #ffffff;}
#requests-wrap #pleacr-order-wrap .table>thead>tr{background-color: #f1fcff;}
.bidding-block{
  background-color: #f2f2f2;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
  padding: 30px;
  margin-top: 30px;
}
.bidding-form{
  margin-top: 30px;
}
.bidding-block h4{
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-weight: 700;
}
.bidding-block h4 strong{
  font-weight: 700;
}
.bidding-block h4 span{
  font-weight: 400;
  color: #000;
  font-size: 18px;
}
.bidding-block p{
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}
.bidding-block p span{
  color: #52bbd5;
}
.bidding-product hr{
  border: 0.5px solid #887476;
}
.sealer-img{
  width: 96px;
  height: 96px;
  float: left;
}
.sealer-img img{
  width: 100%;
  height: auto;
}
.sealer-info{
  margin-left: 120px;
  width: 450px;
}
.sealer-info h5{
  font-size: 17px;
  color: #000;
  font-weight: 600;
  margin-bottom: 5px;
}
.sealer-info h5 span{
  color: #52bbd5;
}
.sealer-profile{
  padding: 20px 0px;
  border-top: 1px solid #cecece;
}
#bidding-wrap{
  padding: 20px 0px;
}
#pleacr-order-wrap h6 label span{
  color: #000 !important;
  font-weight: 600;
}
#pleacr-order-wrap h6 label{
  font-weight: 400;
  color: #000;
  font-size: 18px;
}
.mr-r30{
  margin-right: 30px;
}

.hidden {
  display: none;
}



































.mr-t10{
  margin-top: 10px;
}
.mr-t20{
  margin-top: 20px;
}
.mr-t30{
  margin-top: 30px;
}
.mr-b20{
  margin-bottom: 20px;
}
.mr-l10{
  margin-left: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.total-box{
    padding: 15px;
    background-color: #52bbd5;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    /*box-shadow: 1px 1px 5px #b1b1b1;*/
}
.account-btn{
  margin-bottom: 60px;
}
.account-btn span{
  margin-left: 15px;
}
.total-box{
  margin-bottom: 20px;
}
.total-amt p{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #b4f1ff; 
  font-weight: 600;
}
.total-amt h4{
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  margin: 0px;
  font-weight: 600;
  color: #ffffff;
}
.pd-l4{
  padding-left: 4px;
}
.pd-r4{
  padding-right: 4px;
}
.payment-form-block{
  width: 100%;
  margin: 0 auto;
  padding: 30px;
}
.sgd-amt-select{
  float: right;
}
.sgd-amt-select span{
  display: inline-block;
  margin-top: 5px;
}
.sgd-amt-select select{
  margin-right: 10px;
  padding: 5px;
  float: left;
  width: 80px;
  height: 30px;
  font-style: normal;
}
.accounts-sgd-amt span input{
    width: 80px;
    height: 30px;
    display: inline;
} 
.store-left-block{
  border: 1px solid #eae9e9;
  background-color: #eae9e9;
  position: relative;
}
.store-left-block .store-img{
    width: 50%;
    float: left;
}
.store-left-block .store-img img{
  width: 100%
}
.store-text{
  margin-top: 35px;
  float: left;
  width: 50%;
  position: relative;
  padding: 0px 20px 20px 30px;
}
.store-text ul li{
  list-style-type: square;
  color: #52bad5;
  font-size: 15px; 
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}
.store-text ul li span{
  color: #171717;
}
.store-text h4{
    font-size: 24px;
    color: #52bbd5;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.shop-btn{
  text-align: center;
 }

.shop-btn .small-btn{
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    text-align: center;
    font-size: 22px;
    max-width: 280px;
    padding: 11px;
    font-weight: 600;
    margin-top: 15px;
}
.store-left-block:before {
  content: "";
  border-top: 15px solid transparent;
  border-right: 20px solid #eae9e9;
  border-bottom: 15px solid transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  margin-left: -8px;
}
.seller-block{
    text-align: center; 
    border-left: 1px solid #dcdcdc;
    padding: 4px;
    background-color: #eae9e9;
}
.seller-block h5{
    font-size: 18px;
    background: #eae9e9;
    padding: 10px;
    color: #171717;
    font-weight: 600;
    margin: 0px;

}
.seller-block h4{
  margin: 0px;
}
.seller-block h4 a{
    text-align: center;
    color: #171717;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}
.seller-text{
  padding: 32.5px;
}
.seller-block hr{
    border-top: 1px solid #dcdcdc;
    margin: 29px 0px;
}
.font-size20{
  font-size: 20px;
}
.pd-l0{
  padding-left: 0px;
}
.pd-r0{
  padding-right: 0px;
}
.pd-t40{padding-top: 40px;}
.pd-t30{padding-top: 30px;}
.pd-b20{padding-bottom: 20px;}
.mr-b40{margin-bottom: 40px;}
.mr-r40{margin-right: 40px;}
#store-wrap{
  background: #52bbd5 url(../img/section-bg.png);
  background-size: 6%;
}
.store-img h4{
  font-size: 32px;
  float: right;
  margin-bottom: 31px;
}
.section-title.bg-white{
  margin-bottom: 0px;
}
 
/*Responsive Css Start */


@media (max-width: 767px) {
  .xs-pd0{padding: 0px;}
  .orenge-logo-strip{background: transparent; padding: 0px;}
  .xs-bs-gray{background-color: #f2f2f2; }
  .xs-btn-toggle{position: absolute;  right: 15px; top: -59px; margin: 10px 0px;}
  .xs-center{text-align: center;}
  .xs-mr0{margin: 0px;}

  .orenge-logo-strip a img{width: 127px; height: auto; margin: 10px 0px}
  .navbar-default .navbar-toggle, 
  .navbar-default .navbar-toggle:focus, 
  .navbar-default .navbar-toggle:hover{border-color: #52bbd5; background: #52bbd5;}
  .navbar-default .navbar-toggle .icon-bar{background-color: #fff;}
  .navbar-nav{background-color: #52bbd5; margin: 0px -15px;}
  .navigation-wrap .navbar-default{margin-top: 0px;}
  .navigation-wrap{position: absolute; left: 0; top: 0; width: 100%; z-index: 99;}
  #book-now{padding: 20px 15px;}
  
  .login-form-wrap{width: 100%; padding: 20px;}
  
  .form-control{height: 40px;}
  .login-form-wrap .small-btn.mr-t30{margin-top: 10px;}
  #footer .col-sm-4.col-md-4.pd-l80{padding-left: 15px;}
  section#footer{padding: 30px 0px;}
  .foot-logo{width: 150px; margin: 23px auto 0;}
  .foot-text ul li a{font-size: 13px; text-align: right; margin-bottom: 8px;margin-right: 0px;}
  .foot-text ul li:last-child a{margin-right: 0px;}
  .foot-text p{font-size: 13px}
  .foot-text h5{font-size: 13px; margin-bottom: 4px;}
  #bottom-strip p{font-size: 13px; margin: 0px 25px;}
  .navigation-wrap .navbar-default .navbar-nav>li>a, 
  .cuntry-nav-strip .navbar-default .navbar-nav>li>a, 
  .cuntry-nav-strip .dropdown-menu>li>a, 
  .dropdown-menu>li>a{color: #ffffff;}
  

  /*INDEX PAGE RESPONSIVE CSS*/
  .col-sm-12.mr-t50.text-center{margin-top: 0px;}
  .banner-form-text h4{font-size: 21px; line-height: 26px; margin-bottom: 19px;}
  .banner-form-wrap{padding: 20px 0px;}
  .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{display: none;}
  .circle-1{width: 96px; height: 96px; border: 14px solid #f2f2f2;}
  .circle-1 .flag-img{width: 69px; height: 69px;}
  section{padding: 20px 0px;}
  #offers-wrap{padding-bottom: 0px;}
  .seller-box{padding: 0px;}
  .seller-footer h3{font-size: 12px; line-height: 22px;}
  .seller-img{margin: 0px auto 4px;}
  .seller-footer h3 a{font-size: 14px;}
  .section-title{font-size: 18px; margin-bottom: 25px; text-align: center;}
  #viewed-wrap{padding-bottom: 0px;}
  #requests-wrap .cart-table{margin: 0px;}
  #requests-wrap #pleacr-order-wrap table#cart tbody td:before{width: auto;}
  #requests-wrap #pleacr-order-wrap table#cart tbody tr {margin-bottom: 20px; display: block;}
  #requests-wrap #pleacr-order-wrap .table-bordered{border: 0px;}
  #requests-wrap #pleacr-order-wrap .table{margin-bottom: 0px;}
  #requests-wrap{padding-bottom: 10px;}
  
}
@media (min-width: 768px) and (max-width: 991px) {
  .sm-center{text-align: center;}


  .foot-logo {width: 100%;}
  .login-form-wrap {width: 80%; margin: 70px auto;}

}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 1200px) {
  .login-form-wrap"{width: 40%;}
  .pd-l80{padding-left: 80px;}
}