<!DOCTYPE html>
<html lang="en">

  <script type="text/javascript">
         if (window.localStorage.getItem('User_Id')<=0) 
                {
                   window.location.href="login.html";
                }
    </script>

 <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>tradeexchange.co </title>

        <link href="assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/css/font-awesome.min.css" rel="stylesheet">
        <link href="assets/css/style.css" rel="stylesheet">
        <link href="assets/css/responsive.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

        <link id="bsdp-css" href="bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet">

        
    </head>
<body ng-app="80consult" ng-controller="contactcontroller">
<!-- Start Header -->
       <header id="top-header">
            <div class="orenge-logo-strip">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class=" col-sm-3 txt-logo">
                                 <a href="index.html">
                                    <img src="assets/img/logo.png" alt="" title="">
                                </a>
                            </div>
                            <div class="col-sm-9">
                              <div class="navigation-wrap">
                                <nav class="navbar navbar-default">
                                  <div class="container-fluid">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                      </button>
                                      <!-- <a class="navbar-brand" href="#">Brand</a> -->
                                    </div>

                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                      <ul class="nav navbar-nav navbar-right" ng-init="isLoggedin();">
                                        <!--  -->
                                        <!-- <li><a href="contact.html">Contact</a></li> -->
                                        <li class="dropdown profile-wrap">
                                            <a class="dropdown-toggle profile-img" data-toggle="dropdown" href="#nav2">
                                              <div class="profile-icon">
                                                <img src="uploads/ProfilePic/{{User_Image}}" alt="User Avatar">
                                                Me <span class="caret"></span></a>
                                              </div>
                                            <ul class="dropdown-menu" id="nav2">
                                              <li class="user-drop-icon">
                                                <a href="my-profile.html">
                                                  <img src="uploads/ProfilePic/{{User_Image}}" alt="User Avatar"> 
                                                  <span>{{User_Name}}</span>
                                                </a>
                                              </li>
                                              <li role="separator" class="divider"></li>
                                              <li><a href="my-profile.html">My Profile <i class="fa fa-user" aria-hidden="true"></i></a></li>
                                              <li><a href="javascript:void(0)" ng-click="logout()">Logout <i class="fa fa-sign-out" aria-hidden="true"></i> </a></li>

                                            </ul>
                                        </li>
                                      </ul>
                                    </div><!-- /.navbar-collapse -->
                                  </div><!-- /.container-fluid -->
                                </nav>
                              </div>
                            </div>
                           <!--  <div class=" col-sm-3  pull-right">
                                <a href="register.html" class="txt-bcsup">Become Supplier
                                    
                                </a>

                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="cuntry-nav-strip">
              <div class="container">
                <div class="col-sm-12 col-md-12">
                 <nav class="navbar navbar-default">
                                  <div class="container-fluid pd0">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                      </button>
                                      <!-- <a class="navbar-brand" href="#">Brand</a> -->
                                    </div>
                                    <ul class="nav navbar-nav">
                                      <li><a href="products.html">Market Place</a></li>
                                    </ul>
                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="collapse navbar-collapse pd0" id="bs-example-navbar-collapse-1">
                                      <ul class="nav navbar-nav navbar-right" ng-init="isLoggedin()">
                                        <!-- <li><a href="#">Seller</a></li>
                                        <li><a href="#">Buyer</a></li> -->
                                        <li><a href="dashboard.html">Messages</a></li>
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#nav1">Seller
                                            <span class="caret"></span></a>
                                            <ul class="dropdown-menu" id="nav1">
                                              <li><a href="add-products.html">Add Products</a></li>
                                              <li><a href="seller-products.html">Products</a></li>
                                              <li><a href="seller-orders.html">Orders</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#nav2">Buyer
                                            <span class="caret"></span></a>
                                            <ul class="dropdown-menu" id="nav2">
                                              <li><a href="buyer-orders.html">Orders</a></li>
                                              <li><a href="shortlisted-products.html">Shortlisted Items</a></li>
                                              <li><a href="request-product.html">Request Item</a></li>
                                            </ul>
                                        </li>
                                      </ul>
                                    </div><!-- /.navbar-collapse -->
                                  </div><!-- /.container-fluid -->
                                </nav>
                </div>
              </div>
            </div>
            
            
        </header>
    <!-- End Header -->
  <div >
<!--
  <section id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron">
            <h3>Bonne Route Travels</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
-->


<!--
  <section id="context">
    <div class="container">
      <div class="row">
        <div class="col-md-6 box-context">
          <div class="context-head text-center">
            <h3>Book Now</h3>
          </div>

          <form class="" name="contactform"  ng-controller="contactcontroller" ng-submit="booknow()">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="name" class="form-control" id="name">
            </div>
            <div class="form-group">
              <label for="phoneno">Phone Number:</label>
              <input type="phoneno" class="form-control" id="phoneno">
            </div>
            <div class="form-group">
              <label for="email">Email address:</label>
              <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
              <label for="pwd">Travel Date</label>
              <div class="input-append date">
              <input type="date" class="span2"><span class="add-on"><i class="icon-th"></i></span>
            </div>
            <div class="form-group">
              <label for="pwd">Special Request</label>
              <div class="input-append date">
                <textarea rows="4" cols="50">

                  </textarea>
            </div>
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
            <input type="submit" value="Apply" class="wpcf7-form-control wpcf7-submit"/>
          </form>

        </div>

        <div class="col-md-6 box-context">

        </div>






      </div>
    </div>
  </section>
-->
<div class="clearfix"></div>
  <section id="book-now">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
           <h2 class="section-title">Add Product</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form name="addproduct" ng-submit="saveproduct(product)" id="addproduct" method="post" ng-init="fileinit();getcurrency();">
             <div class="col-md-6">
              <div class="form-group">
              <label for="name">Product Name:</label>
              <input type="text" class="form-control" ng-model="product.name" name="name" id="name" required>
            </div> 
             </div> 
             <div class="col-md-2">        
            <div class="form-group">
              <label for="price">Currency:</label>
              <input type="text" class="form-control" ng-model="product.currency" Disabled>
              <!-- <span class="icon-position"><i class="fa fa-calendar" aria-hidden="true"></i></span> -->
            </div>
            </div> 
              <div class="col-md-4">        
            <div class="form-group">
              <label for="price">Product Price:</label>
              <input type="text" class="form-control" ng-model="product.price" name="price" id="price" pattern="[0-9]{1,5}[.]{0,1}[0-9]{0,2}" oninvalid="setCustomValidity('Enter Valid Price')" onchange="try{setCustomValidity('')}catch(e){}" required>
              <!-- <span class="icon-position"><i class="fa fa-calendar" aria-hidden="true"></i></span> -->
            </div>
            </div>
             <div class="col-md-12">
            <div class="form-group">
              <label for="description">Product Description:</label>
              <textarea class="form-control" ng-model="product.description" name="description" id="description" rows="6" required></textarea>
            </div> 
            </div>
            <div class="col-md-4">
            <div class="form-group">
              <label for="image">Image:</label>
              <input id="file_browse1" class="form-control" type='file' name="productimage" onchange="angular.element(this).scope().updateattachment('file_browse1');   $('#imagepreview').children().remove();" accept="image/*" required=""/ required="">
             <!--  <input type="text" class="form-control" ng-model="product.image" name="image" id="image" required> -->
              <input type="hidden" name="imagename" ng-model="product.imagename">
            </div>
            </div>

             <div class="col-md-4">
             <div class="form-group">
              <label for="quantity">In Stock:</label>
              <input type="text" class="form-control" ng-model="product.quantity" name="quantity" id="quantity" pattern="[0-9]{1,5}" oninvalid="setCustomValidity('Enter Valid Quantity')" onchange="try{setCustomValidity('')}catch(e){}" required>
            </div>
            </div>

            <div class="col-md-4">
             <div class="form-group">
              <label for="quantity">Min Order Quantity:</label>
              <input type="text" class="form-control" ng-model="product.minquantity" name="minquantity" id="minquantity" pattern="[0-9]{1,5}" oninvalid="setCustomValidity('Enter Valid Quantity')" onchange="try{setCustomValidity('')}catch(e){}" required>
            </div>
            </div>

            <div class="col-md-12">
              <div id="imagepreview"></div>
            </div>
             <div class="col-md-6">
            <div class="form-group">
              <label for="category">Category:</label>
              <!-- <input type="text" class="form-control" ng-model="product.category" name="category" id="category" required> -->
              <select class="form-control" ng-init="getCategories()" ng-change="getSubCat()" id="category" name="category" ng-options="cat.CategoryId as cat.CategoryTitle for cat in categorieslist" ng-model="product.CategoryId" required="">
              </select>
            </div>  
            </div>
             <div class="col-md-6">
            <div class="form-group">
              <label for="subcat">Subcategory:</label>
               <select class="form-control" id="subcat" name="subcat" ng-options="sc.SubCatId as sc.SubCatTitle for sc in subcatlist" ng-model="product.SubCatId" required="">
              </select>
            </div> 
            </div>
            <div class="form-group" id="alertmessage" hidden="">
              <label>{{alertmessage}}</label>
            </div> 
           
             
        
              <div class="clearfix"></div>
          
             
            <button class="btn btn-success orenge-btn" type="submit" value="Apply" class="wpcf7-form-control wpcf7-submit">Add Product</button>
          </form>

        <div id="specification" hidden="">
         <span><h4><b><font>Product Specification</font></b></h4></span>
            <form name="addproduct2" ng-submit="savespecification(spec)" id="addproduct2" method="post">
            <input type="hidden" name="ProductId" ng-model="spec.ProductId">
             <div class="col-md-12">
              <div class="form-group">
              <label for="title">Title:</label>
              <input type="text" class="form-control" ng-model="spec.Title" name="title" id="title" required>
            </div> 
             </div>  
             <div class="col-md-12">
            <div class="form-group">
              <label for="desc">Description:</label>
              <textarea class="form-control" ng-model="spec.Description" name="desc" id="desc" rows="6" required></textarea>
            </div> 
            </div>             
        
              <div class="clearfix"></div>
          
             
            <button class="btn btn-success orenge-btn" type="submit" value="Apply" class="wpcf7-form-control wpcf7-submit">Add</button>
          </form><br/><br/>
            <div class="table-responsive">          
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody id="specificationtable">
               
              </tbody>
            </table>
            </div>
            <br/><br/>
            <button class="btn btn-success orenge-btn" type="button" value="Apply" class="wpcf7-form-control wpcf7-submit" onclick="$('#specification').hide();$('#thankyoudiv').show('slow');">Save</button>
        </div>

          <div id="thankyoudiv" hidden="">
            <div class="thankyou">
                <div class="item">
                    <span><h4><b><font>Product Information Added Successfully.</font></b></h4></span>
                </div>
            </div>
        </div>
        </div>

      </div>
    </div>
      <div class="clearfix"></div>
  </section>







        <div w3-include-html="footer.html"></div>

        <script src="assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="assets/js/angular.min.js"></script>
  <script type="text/javascript" src="assets/js/angular-storage.min.js"></script>
  <script type="text/javascript" src="assets/js/app.js"></script>
  <script src="bower_components/angular-payments/lib/angular-payments.js"></script> 
      <script src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript" src="assets/js/contactCtrl.js"></script>

        <script src="https://www.w3schools.com/lib/w3data.js"></script>
        

        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/main.js"></script>
        <script src="assets/js/star-rating.js"></script>
        <script src="assets/js/custom.js"></script>
<script>
    $(function(){
         // Find any date inputs and override their functionality
         $('input[type="date"]').datepicker();
    });
</script>
<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=11561280; 
var sc_invisible=1; 
var sc_security="ecdd2308"; 
var scJsHost = (("https:" == document.location.protocol) ?"https://secure" : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +scJsHost+"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="Web AnalyticsMade Easy - StatCounter" href="http://statcounter.com/" target="_blank">
<img class="statcounter" src="//c.statcounter.com/11561280/0/ecdd2308/1/" alt="Web Analytics Made Easy - StatCounter"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->

</div>
</body>

</html>
