<!DOCTYPE html>
<html lang="en">

 <script type="text/javascript">
         if (window.sessionStorage.getItem('User_Id')<=0) 
                {
                   window.location.href="login.html";
                }
    </script>

 <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>tradeexchange.co </title>

        <link href="assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/css/font-awesome.min.css" rel="stylesheet">
        <link href="assets/css/style.css" rel="stylesheet">
        <link href="assets/css/responsive.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

        <link id="bsdp-css" href="bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet">
    </head>

<body ng-app="80consult" ng-controller="contactcontroller">
<!-- Start Header -->
       
<header id="top-header">
            <div class="orenge-logo-strip">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class=" col-sm-3 txt-logo">
                                 <a href="index.html">
                                    <img src="assets/img/logo.png" alt="" title="">
                                </a>
                            </div>
                            <div class="col-sm-9">
                              <div class="navigation-wrap">
                                <nav class="navbar navbar-default">
                                  <div class="container-fluid">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                      </button>
                                      <!-- <a class="navbar-brand" href="#">Brand</a> -->
                                    </div>

                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                      <ul class="nav navbar-nav navbar-right" ng-init="isLoggedin();">
                                        <!--  -->
                                        <!-- <li><a href="contact.html">Contact</a></li> -->
                                        <li class="dropdown profile-wrap">
                                            <a class="dropdown-toggle profile-img" data-toggle="dropdown" href="#nav2">
                                              <div class="profile-icon">
                                                <img src="uploads/ProfilePic/{{User_Image}}" alt="User Avatar">
                                                Me <span class="caret"></span></a>
                                              </div>
                                            <ul class="dropdown-menu" id="nav2">
                                              <li class="user-drop-icon">
                                                <a href="my-profile.html">
                                                  <img src="uploads/ProfilePic/{{User_Image}}" alt="User Avatar"> 
                                                  <span>{{User_Name}}</span>
                                                </a>
                                              </li>
                                              <li role="separator" class="divider"></li>
                                              <li><a href="my-profile.html">My Profile <i class="fa fa-user" aria-hidden="true"></i></a></li>
                                              <li><a href="javascript:void(0)" ng-click="logout()">Logout <i class="fa fa-sign-out" aria-hidden="true"></i> </a></li>

                                            </ul>
                                        </li>
                                      </ul>
                                    </div><!-- /.navbar-collapse -->
                                  </div><!-- /.container-fluid -->
                                </nav>
                              </div>
                            </div>
                           <!--  <div class=" col-sm-3  pull-right">
                                <a href="register.html" class="txt-bcsup">Become Supplier
                                    
                                </a>

                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="cuntry-nav-strip">
              <div class="container">
                <div class="col-sm-12 col-md-12">
                 <nav class="navbar navbar-default">
                                  <div class="container-fluid pd0">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                      </button>
                                      <!-- <a class="navbar-brand" href="#">Brand</a> -->
                                    </div>
                                    <ul class="nav navbar-nav">
                                      <li><a href="products.html">Market Place</a></li>
                                    </ul>
                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="collapse navbar-collapse pd0" id="bs-example-navbar-collapse-1">
                                      <ul class="nav navbar-nav navbar-right" ng-init="isLoggedin()">
                                        <!-- <li><a href="#">Seller</a></li>
                                        <li><a href="#">Buyer</a></li> -->
                                        <li><a href="dashboard.html">Messages</a></li>
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#nav1">Seller
                                            <span class="caret"></span></a>
                                            <ul class="dropdown-menu" id="nav1">
                                              <li><a href="add-products.html">Add Products</a></li>
                                              <li><a href="seller-products.html">Products</a></li>
                                              <li><a href="seller-orders.html">Orders</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#nav2">Buyer
                                            <span class="caret"></span></a>
                                            <ul class="dropdown-menu" id="nav2">
                                              <li><a href="buyer-orders.html">Orders</a></li>
                                              <li><a href="shortlisted-products.html">Shortlisted Items</a></li>
                                            </ul>
                                        </li>
                                      </ul>
                                    </div><!-- /.navbar-collapse -->
                                  </div><!-- /.container-fluid -->
                                </nav>
                </div>
              </div>
            </div>
            
            
        </header>
    <!-- End Header -->
  <div>
<!--
  <section id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron">
            <h3>Bonne Route Travels</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
-->


<!--
  <section id="context">
    <div class="container">
      <div class="row">
        <div class="col-md-6 box-context">
          <div class="context-head text-center">
            <h3>Book Now</h3>
          </div>

          <form class="" name="contactform"  ng-controller="contactcontroller" ng-submit="booknow()">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="name" class="form-control" id="name">
            </div>
            <div class="form-group">
              <label for="phoneno">Phone Number:</label>
              <input type="phoneno" class="form-control" id="phoneno">
            </div>
            <div class="form-group">
              <label for="email">Email address:</label>
              <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
              <label for="pwd">Travel Date</label>
              <div class="input-append date">
              <input type="date" class="span2"><span class="add-on"><i class="icon-th"></i></span>
            </div>
            <div class="form-group">
              <label for="pwd">Special Request</label>
              <div class="input-append date">
                <textarea rows="4" cols="50">

                  </textarea>
            </div>
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
            <input type="submit" value="Apply" class="wpcf7-form-control wpcf7-submit"/>
          </form>

        </div>

        <div class="col-md-6 box-context">

        </div>






      </div>
    </div>
  </section>
-->
  <section id="user-profile-wrap">
    <div class="container">
      <div class="row">
        <div class=" col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 pd0">
          <div class="hor-tabs">
            <div class="">
              <ul class="nav nav-pills nav-stacked col-md-3 profile-box-table">
                <li>
                  <div class="profile-left-box">
                    <div class="filter-panle">
                      <div class="panle-head mr-b20">
                        <div class="user-img">
                          <img src="uploads/ProfilePic/{{User_Image}}" alt="my-profile" title="my-profile">
                          <h3>{{User_Name}}</h3>
                         <!--  <h5>My Profile</h5> -->
                         
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div> 
                  </div>
                </li>
                <li class="active"><a href="#my-profile" data-toggle="pill">My Profile</a></li>
                <li><a href="#edit-profile" data-toggle="pill">Edit Profile</a></li>
                <li><a href="#change-password" data-toggle="pill">Change Password</a></li>
                <li><a href="#bank-details" data-toggle="pill">Add Your Bank Details</a></li>
              </ul>
              <div class="tab-content col-md-9 profile-tebal" ng-init="getUserInfo();">
                      <div class="tab-pane active" id="my-profile">
                          <h4>My Profile</h4>
                          <div class="tab-info">
                            <h5>My Profile</h5>
                            <div class="align-info">
                              <p><span><b>First Name : </b></span><span>{{User.FirstName}}</span></p>
                              <p><span><b>Last Name : </b></span><span>{{User.LastName}}</span></p>
                              <p><span><b>Contact No : </b></span><span>{{User.Phone}}</span></p>
                              <p><span><b>Email Id : </b></span><span>{{User.Email}}</span></p>
                              <p><span><b>Company Name : </b></span><span>{{User.CompanyName}}</span></p>
                              <p><span><b>Country : </b></span><span>{{User.CountryTitle}}</span></p>
                            </div>
                            <h5 class="mr-t30">My Bank Details</h5>
                            <div class="align-info">
                              <p><span><b>Account Name : </b></span><span>{{User.AccountName}}</span></p>
                              <p><span><b>Bank Name : </b></span><span>{{User.AccountNo}}</span></p>
                              <p><span><b>Account No : </b></span><span>{{User.BankName}}</span></p>
                              <p><span><b>IFSC Code : </b></span><span>{{User.IFSCcode}}</span></p>
                            </div>
                          </div>
                      </div>
                      <div class="tab-pane" id="edit-profile">
                        <h4>Edit Profile</h4>
                        <div class="tab-info">
                            <div class="edit-form">
                              <form id="editprofile" name="editprofile" ng-submit="updateprofile(info,attachment);" ng-init="fileinit();">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="fname">First Name :</label>
                                    <input type="text" class="form-control" ng-model="info.FirstName" name="fname" id="fname" required="">
                                  </div> 
                                 </div>
                                 <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="fname">Last Name :</label>
                                    <input type="text" class="form-control" ng-model="info.LastName" name="fname" id="lname" required="">
                                  </div> 
                                 </div>
                                 <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="fname">Email Id :</label>
                                    <input type="email" class="form-control" name="email" id="email" ng-model="info.Email" disabled="">
                                  </div> 
                                 </div>
                                 <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="fname">Contact No :</label>
                                    <input type="text" class="form-control" ng-model="info.Phone" name="fname" id="contact" required="">
                                  </div> 
                                 </div>
                                 <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="fname">Company Name :</label>
                                    <input type="text" class="form-control" ng-model="info.CompanyName" name="fname" id="company" required="">
                                  </div> 
                                 </div>
                                 <div class="col-md-6">
                                  <div class="form-group" ng-init="getCountries();">
                                    <label for="fname">Country :</label>
                                     <select class="form-control" id="country" name="country" ng-options="cou.CountryId as cou.CountryTitle for cou in countrylist" ng-model="info.CountryId" required="">
                                    </select>
                                  </div> 
                                 </div>
                                 <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="image">Image:</label>
                                    <input id="file_browse1" class="form-control" type='file' name="productimage" onchange="angular.element(this).scope().updateattachment('file_browse1');   $('#imagepreview').children().remove();" accept="image/*" />
                                    <input type="hidden" name="imagename" ng-model="info.ProfilePic">
                                  </div> 
                                 </div>
                                  <div class="col-md-12">
                                    <div id="imagepreview"></div>
                                  </div>
                                 <div class="col-sm-12 mr-t20  text-center">
                                  <!-- <a href="#" class="red-btn small-btn">UPDATE</a> -->
                                  <input type="submit" name="update" class="red-btn small-btn" value="UPDATE">
                                 </div>
                              </form>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                      </div>
                      <div class="tab-pane" id="change-password">
                        <h4>Change Password</h4>
                        <div class="tab-info">
                          <div class="edit-form">
                            <form id="editpassword" name="editpassword" ng-submit="updatepassword(info)">
                              <div class="col-md-offset-3 col-md-6">
                                <div class="form-group">
                                  <label for="fname">Old Password :</label>
                                  <input type="hidden" ng-model="info.Password">
                                  <input type="password" class="form-control" id="exampleInputPassword1" ng-model="info.opassword" required="">
                                </div> 
                              </div>
                              <div class="col-md-offset-3 col-md-6">
                                <div class="form-group">
                                  <label for="fname">New Password :</label>
                                  <input type="password" class="form-control" id="exampleInputPassword2" ng-model="info.npassword" required="">
                                </div> 
                              </div>
                              <div class="col-md-offset-3 col-md-6">
                                <div class="form-group">
                                  <label for="fname">Confirm Password :</label>
                                  <input type="password" class="form-control" id="exampleInputPassword3" ng-model="info.cpassword" required="">
                                </div> 
                              </div>
                               <div class="col-md-offset-3 col-md-6">
                                <div class="form-group">
                                  <label id="alertmessage"></label>
                                
                                </div> 
                              </div>
                              <div class="col-sm-12 mr-t20  text-center">
                                <!-- <a href="#" class="red-btn small-btn">UPDATE</a> -->
                                <input type="submit" name="update" class="red-btn small-btn" value="UPDATE">
                              </div>
                            </form>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                      <div class="tab-pane" id="bank-details">
                        <h4>Add Your Bank Details</h4>
                        <div class="tab-info">
                          <div class="edit-form">
                            <form id="editbankdetails" name="editbankdetails" ng-submit="updatebankdetails(info)">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="fname">Account Name :</label>
                                  <input type="text" class="form-control" id="exampleInputPassword4" ng-model="info.AccountName">
                                </div> 
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="fname">Bank Name :</label>
                                  <input type="text" class="form-control" id="exampleInputPassword5" ng-model="info.BankName">
                                </div> 
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="fname">Account No :</label>
                                  <input type="text" class="form-control" id="exampleInputPassword6" ng-model="info.AccountNo">
                                </div> 
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="fname">IFSC Code :</label>
                                  <input type="text" class="form-control" id="exampleInputPassword7" ng-model="info.IFSCcode">
                                </div> 
                              </div>
                              <div class="col-sm-12 mr-t20  text-center">
                                <!-- <a href="#" class="red-btn small-btn">UPDATE</a> -->
                                <input type="submit" name="update" class="red-btn small-btn" value="UPDATE">
                              </div>
                            </form>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                </div><!-- tab content -->
              </div><!-- end of container -->
              <div class="clearfix"></div>
          </div>
         <!--  <div class="col-sm-4">
        </div> -->
        </div>
      </div>
    </div>
  </section>
 







 <div w3-include-html="footer.html"></div>

        <script src="assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="assets/js/angular.min.js"></script>
  <script type="text/javascript" src="assets/js/angular-storage.min.js"></script>
  <script type="text/javascript" src="assets/js/app.js"></script>
  <script src="bower_components/angular-payments/lib/angular-payments.js"></script> 
      <script src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript" src="assets/js/contactCtrl.js"></script>

        <script src="https://www.w3schools.com/lib/w3data.js"></script>
        

        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/main.js"></script>
        <script src="assets/js/star-rating.js"></script>
        <script src="assets/js/custom.js"></script>
<!-- <script>
    $(function(){
         // Find any date inputs and override their functionality
         $('input[type="date"]').datepicker();
    });
</script> -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQD-LT4-VzlsdNpf33yNDeT38EaF3Kz-g&libraries=places"></script>
<script>


google.maps.event.addDomListener(window, 'load', function () 
{

  var options = { types: ['(cities)']};

 // var options = { types: ['(cities)'], componentRestrictions: {country: "au"}
 // };
            var places = new google.maps.places.Autocomplete(document.getElementById('address'),options);
            google.maps.event.addListener(places, 'place_changed', function () { 
             

            });
                
});

</script>

</div>
</body>

</html>
