<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>tradeexchange.co </title>

        <link href="assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/css/font-awesome.min.css" rel="stylesheet">
        <link href="assets/css/style.css" rel="stylesheet">
        <link href="assets/css/responsive.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

        <link id="bsdp-css" href="bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet">

        
    </head>
    <body ng-app="80consult" ng-controller="contactcontroller">
        <!-- Start Header -->

         
<header id="top-header">
            <div class="orenge-logo-strip">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class=" col-sm-3 txt-logo">
                                 <a href="index.html">
                                    <img src="assets/img/logo.png" alt="" title="">
                                </a>

                            </div>
                            <div class="col-sm-9">
                              <div class="navigation-wrap">
                                <nav class="navbar navbar-default">
                                  <div class="container-fluid">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                      </button>
                                      <!-- <a class="navbar-brand" href="#">Brand</a> -->
                                    </div>

                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                      <!-- <ul class="nav navbar-nav">
                                        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                                        <li><a href="#">Link</a></li>
                                        <li class="dropdown">
                                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                          <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#">One more separated link</a></li>
                                          </ul>
                                        </li>
                                      </ul>
                                      <form class="navbar-form navbar-left">
                                        <div class="form-group">
                                          <input type="text" class="form-control" placeholder="Search">
                                        </div>
                                        <button type="submit" class="btn btn-default">Submit</button>
                                      </form> -->
                                      <ul class="nav navbar-nav navbar-right" ng-init="isLoggedin()">
                                        <li><a href="#">Seller</a></li>
                                        <li><a href="#">Buyer</a></li>
                                        <li ng-if="User_Id<=0"><a href="login.html">Login</a></li>
                                        <li ng-if="User_Id<=0"><a href="register.html">Register</a></li>
                                        <li ng-if="User_Id>0"><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                      </ul>
                                    </div><!-- /.navbar-collapse -->
                                  </div><!-- /.container-fluid -->
                                </nav>
                              </div>
                            </div>
                           <!--  <div class=" col-sm-3  pull-right">
                                <a href="register.html" class="txt-bcsup">Become Supplier
                                    
                                </a>

                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="cuntry-nav-strip">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12">
                    <nav class="navbar navbar-default">
                      <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                          <a class="navbar-brand" href="#">Go quickly to <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                          <ul class="nav navbar-nav" ng-init="getCategories()">
                          <li ng-repeat='cat in categorieslist'><a href="products.html?filter=category&id={{cat.CategoryId}}">{{cat.CategoryTitle}}</a></li>
                            <!-- <li><a href="#">Electronics</a></li>
                            <li><a href="#">Appliances</a></li>
                            <li><a href="#">Men</a></li>
                            <li><a href="#">Women</a></li>
                            <li><a href="#">Baby & Kids</a></li>
                            <li><a href="#">Home & Furniture</a></li> -->
                            <!-- <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">India <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Electronics</a></li>
                                <li><a href="#">Appliances</a></li>
                                <li><a href="#">Men</a></li>
                                <li><a href="#">Women</a></li>
                                <li><a href="#">Baby & Kids</a></li>
                                <li><a href="#">Home & Furniture</a></li>
                                <li><a href="#">Books & More</a></li>
                              </ul>
                            </li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Malaysia <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Electronics</a></li>
                                <li><a href="#">Appliances</a></li>
                                <li><a href="#">Men</a></li>
                                <li><a href="#">Women</a></li>
                                <li><a href="#">Baby & Kids</a></li>
                                <li><a href="#">Home & Furniture</a></li>
                                <li><a href="#">Books & More</a></li>
                              </ul>
                            </li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Thailand <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Electronics</a></li>
                                <li><a href="#">Appliances</a></li>
                                <li><a href="#">Men</a></li>
                                <li><a href="#">Women</a></li>
                                <li><a href="#">Baby & Kids</a></li>
                                <li><a href="#">Home & Furniture</a></li>
                                <li><a href="#">Books & More</a></li>
                              </ul>
                            </li> 
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Indonesia <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Electronics</a></li>
                                <li><a href="#">Appliances</a></li>
                                <li><a href="#">Men</a></li>
                                <li><a href="#">Women</a></li>
                                <li><a href="#">Baby & Kids</a></li>
                                <li><a href="#">Home & Furniture</a></li>
                                <li><a href="#">Books & More</a></li>
                              </ul>
                            </li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bangladesh <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Electronics</a></li>
                                <li><a href="#">Appliances</a></li>
                                <li><a href="#">Men</a></li>
                                <li><a href="#">Women</a></li>
                                <li><a href="#">Baby & Kids</a></li>
                                <li><a href="#">Home & Furniture</a></li>
                                <li><a href="#">Books & More</a></li>
                              </ul>
                            </li> -->
                          </ul>
                        </div><!-- /.navbar-collapse -->
                      </div><!-- /.container-fluid -->
                    </nav>
                  </div>
                </div>
              </div>
            </div>
        </header>
        <section id="pakeges-wrap" ng-init="allproducts()">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="section-title">
                            Products
                        </h2>
                    </div>
                   
                    <!-- <div class="col-sm-6" ng-repeat="product in productslist">
                   
                        <div class="packges-block">
                            <div class="col-sm-5 pd0">



                                <div class="place-img">
                                 <a href="product_detail.html?id={{product.ProductId}}">
                                    <img src="uploads/{{product.Image1}}" class="img-responsive" alt="" title="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="packeg-details-text">
                                    <h5><a href="product_detail.html?id={{product.ProductId}}">{{product.ProductName}}</a></h5>
                                    <p class="packege-para small-height">{{product.Description | limitTo: 150 }}{{product.Description.length > 150 ? '...' : ''}}</p>
                                    <div class="right-blck">
                                    <p class="gray-small-text"><span>   


                    </div>
                   
                                -->

                    <div class="col-sm-3" ng-repeat="product in productslist">
                        <div class="product-box">
                            <div class="pro-img">
                            <a href="product_detail.html?id={{product.ProductId}}">
                                <img src="uploads/{{product.Image1}}" alt="" title="">
                                </a>
                            </div>
                            <div class="product-footer">
                                <h3><a href="product_detail.html?id={{product.ProductId}}">{{product.ProductName}}</a></h3>
                            <!--     <h5>{{product.Description}}</h5>
                                <p>Category : {{product.CategoryTitle}}</p>
                                <p>Seller : {{product.CompanyName}}</p> -->
                                <h4><span>From SGD</span>${{product.Price}}</h4>
                                <div class="bottom-btn">
                                    <div class="order-btn">
                                        <a href="order.html?id={{product.ProductId}}" class="red-btn">Order Now</a>
                                    </div>
                                    <div class="inquiry-btn">
                                        <a href="enquiry.html?id={{product.ProductId}}" class="red-btn">Enquiry</a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="box-flag-img">
                                <img src="assets/img/flags/{{product.CountryFlag}}" class="img-responsive" alt="" title="">
                            </div>
                            <div class="cat-text">
                                <span>Footwears</span>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    <!-- End Header -->

<!--
        <section id="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="jumbotron">
                          <h3>Suzantravels</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
-->

        <div class="clearfix"></div>
        <!-- <section id="context" class="tour-Package">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <h2 class="section-title">
                            Travels Package
                        </h2>
                    </div>
                    <div class="col-sm-12 package-masonry">

<div class="container">
<div class="row">
    <div class="item">
      <div class="well">
        <div class="box-context">
                        <div class="Package-box">
                        <div class="context-img text-center">
                            <img src="assets/img/img-1.png" alt="img">
                        </div>
                        <div class="content-info">
                            <h3>3D2N Wildlife From SGD 245</h3>
                            <p>Package Includes :</p>
                            <ul>
                                <li><span>Return Airport Transfers</span></li>
                                <li><span>2 Nights Accommodation</span></li>
                                <li><span>Daily Breakfast</span></li>
                                <li><span>Half-day Guided City Tour</span></li>
                                <li><span>Sentosa Tour <small>(Cable Car, 4D Show & Wings of Time)</small></span></li>
                                <li><span>Night Safari</span></li>
                            </ul>


                          <a href="enquiry.html?pck=3D2N WLIDLIFE From SGD 245" class="btn btn-info orenge-btn" role="button">Book Now</a>
                        </div>
                            </div>
                    </div>
      </div>
    </div>
     <div class="item">
        <div class="well">
            <div class="box-context">
                        <div class="Package-box">
                        <div class="context-img text-center">
                            <img src="assets/img/img-2.png" alt="img">
                        </div>
                        <div class="content-info">
                            <h3>4D3N Package From SGD 350</h3>
                            <p>Package Includes :</p>
                            <ul>
                                <li><span>Return Airport Transfers</span></li>
                                <li><span>3 Nights Accommodation</span></li>
                                <li><span>Daily Breakfast</span></li>
                                <li><span>Gardens by The Bay </span></li>
                                <li><span>Half-day Guided City Tour</span></li>
                                <li><span>Sentosa Tour <small>(Cable Car, 4D Show & Wings of Time)</small></span></li>
                                <li><span>Universal Studios </span></li>
                            </ul>

                        <a href="enquiry.html?pck=4D3 Package From SGD 350" class="btn btn-info orenge-btn" role="button">Book Now</a>
                         </div>
                            </div>
                    </div>
        </div>
    </div>
    <div class="item">
        <div class="well">
         <div class="box-context">
                         <div class="Package-box">
                        <div class="context-img text-center">
                            <img src="assets/img/img-3.png" alt="img">
                        </div>
                        <div class="content-info">
                             <h3>3D2N Wildlife From SGD 245</h3>
                            <p>Package Includes :</p>
                            <ul>
                                <li><span>Return Airport Transfers</span></li>
                                <li><span>4 Nights Accommodation</span></li>
                                <li><span>Daily Breakfast</span></li>
                                <li><span>Full Day River Safari, Zoo & Night Safari Tour</span></li>
                                <li><span>Half-day Guided City Tour</span></li>
                                <li><span>Sentosa Tour <small>(Cable Car, 4D Show & Wings of Time)</small></span></li>
                                <li><span>Universal Studios</span></li>
                            </ul>

                        <a href="enquiry.html?pck=3D2N WLIDLIFE From SGD 245" class="btn btn-info orenge-btn" role="button">Book Now</a>
                         </div>
                              </div>
                    </div>
        </div>
    </div>
    <div class="item">
        <div class="well">
                     <div class="box-context">
                         <div class="Package-box">
                            <div class="context-img text-center">
                                <img src="assets/img/img-6.png" alt="img">
                            </div>
                            <div class="content-info">
                                <h3>5D4N Package From SGD 495</h3>
                                <p>Package Includes :</p>
                                <ul>
                                    <li><span>Return Airport Transfers</span></li>
                                    <li><span>3 Nights Accommodation</span></li>
                                    <li><span>Daily Breakfast</span></li>
                                    <li><span>Full Day River Safari, Zoo & Night Sahari Tour</span></li>
                                    <li><span>Half-day Guided City Tour</span></li>
                                    <li><span>Sentosa Tour <small>(Cable Car, 4D Show & Wings of Time)</small></span></li>
                                    <li><span>Universal Studios</span></li>
                                    <li><span>Marina Bay Sands & Gardens By The Bay Tour</span></li>
                                </ul>

                            <a href="enquiry.html?pck=5D4N Package From SGD 495" class="btn btn-info orenge-btn" role="button">Book Now</a>
                         </div>
                             </div>

                    </div>
        </div>
    </div>
    <div class="item">
        <div class="well">
         <div class="box-context">
                        <div class="Package-box">
                        <div class="context-img text-center">
                            <img src="assets/img/img-4.png" alt="img">
                        </div>
                        <div class="content-info">
                             <h3>3D2N RWS From SGD 260</h3>
                            <p>Package Includes :</p>
                            <ul>
                                <li><span>Return Airport Transfers</span></li>
                                <li><span><span>2 Nights Accommodation</span></li>
                                <li><span>Daily Breakfast</span></li>
                                <li><span>Night Safari</span></li>
                                <li><span>Universal Studios</span></li>
                            </ul>

                        <a href="enquiry.html?pck=3D2N RWS From SGD 260" class="btn btn-info orenge-btn" role="button">Book Now</a>
                         </div>
                            </div>
                    </div>
        </div>
    </div>
    <div class="item">
        <div class="well">
           <div class="box-context">
                         <div class="Package-box">
                        <div class="context-img text-center">
                            <img src="assets/img/img-5.png" alt="img">
                        </div>
                        <div class="content-info">
                            <h3>4D3N Package From SGD 365 </h3>
                            <p>Package Includes :</p>
                            <ul>
                                <li><span>Return Airport Transfers</span></li>
                                <li><span>3 Nights Accommodation</span></li>
                                <li><span>Daily Breakfast</span></li>
                                <li><span>Night Safari</span></li>
                                <li><span>Half-day Guided City Tour</span></li>
                                <li><span>Sentosa Tour <small>(Cable Car, 4D Show & Wings of Time)</small></span></li>
                                <li><span>Universal Studios</span></li>
                            </ul>

                        <a href="enquiry.html?pck=4D3N Package From SGD 365" class="btn btn-info orenge-btn" role="button">Book Now</a>
                         </div>
                              </div>
                    </div>
        </div>
    </div>
</div>
</div>

                    </div>
                    <!-- <div class="col-sm-12 col-md-12">
                        <h2 class="section-title">
                            Travels Package
                        </h2>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </section> -->


         <div w3-include-html="footer.html"></div>

        <script src="assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="assets/js/angular.min.js"></script>
  <script type="text/javascript" src="assets/js/angular-storage.min.js"></script>
  <script type="text/javascript" src="assets/js/app.js"></script>
  <script src="bower_components/angular-payments/lib/angular-payments.js"></script> 
      <script src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript" src="assets/js/contactCtrl.js"></script>

        <script src="https://www.w3schools.com/lib/w3data.js"></script>
        

        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/main.js"></script>
        <script src="assets/js/star-rating.js"></script>
        <script src="assets/js/custom.js"></script>

    <!--     <script src="assets/js/custom.js"></script> -->


<script>
            $(document).ready(function() {
              var owl = $('.owl-carousel');
              owl.owlCarousel({
                items: 1,
                loop: true,
                margin: 10,
                autoplay: true,
                autoplayTimeout: 1500,
                autoplayHoverPause: true
              });
              $('.play').on('click', function() {
                owl.trigger('play.owl.autoplay', [1000])
              })
              $('.stop').on('click', function() {
                owl.trigger('stop.owl.autoplay')
              })
            })
          </script>
           <!-- javascript -->

    <script src="OwlCarousel/owl.carousel.js"></script>
        <!-- vendors -->
    <script src="../assets/vendors/highlight.js"></script>

<script src="assets/js/star-rating.js"></script>
    </body>
</html>
